*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header{
  padding-left: 30px;
  height:50px;
  background-color:rgb(133, 9, 9);
  font-family:'Poppins',sans-serif;
}

.App{
  background-color: rgb(255, 250, 250);
  height:100vh;
  width:100%;
  display: flex;
  flex-direction: column;
}

.container{
  height:70%;
  /* width:100%; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,450px);
}

img{
  height:130px;
  width:130px;
  border:4px solid rgb(133, 9, 9);
  border-radius:50%;
}

.userHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
}

